@using Espuchifai.Core;
@model Album;
@{
    ViewData["Title"] = "Alta Banda";

}
<form asp-controller="Album" asp-action="AltaAlbum" method="post">
    <div asp-validation-summary="All"></div>
    <div><input type="hidden" asp-for="IdAlbum" /></div>
            <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Nombre" class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input asp-for="Nombre" class="form-control" />
        </div>
        </div>
                <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Lanzamiento" class="col-form-label">Lanzamiento</label>
        </div>
        <div class="col-auto">
            <input asp-for="Lanzamiento" class="form-control" />
        </div>
        </div>
                <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="IdBanda" class="col-form-label">IdBanda</label>
        </div>
        <div class="col-auto">
            <input asp-for="IdBanda" class="form-control" />
        </div>
        </div>
                <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="IdAlbum" class="col-form-label">IdAlbum</label>
        </div>
        <div class="col-auto">
            <input asp-for="IdAlbum" class="form-control" />
        </div>
        </div>
                <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Cantidad" class="col-form-label">Cantidad</label>
        </div>
        <div class="col-auto">
            <input asp-for="Cantidad" class="form-control" />
        </div>
        </div>
                <div class="row g-3 align-items-center">
        <button type="submit" class="btn btn-primary">Alta</button>
    </div>

</form>