@using Espuchifai.Core;
@model IEnumerable<Album>
@{
    ViewData["Title"] = "Album - Detalle";
}

<h1> Albumes Disponibles </h1><br>
<ul>
    @foreach (var album in Model)
    {
        <li><a asp-controller="Album" asp-action="Detalle" asp-route-id="IdAlbum">album.Nombre</a></li>
    }
</ul>
<style>
    body {
        background-color: #8ae4c9;
    }

    </div>