@using Espuchifai.Core;
@model IEnumerable<Album>
@{
    ViewData["Title"] = "Albumes";
}
<ul>
    @foreach (var album in Model)
    {
        <li><a asp-controller="Banda" asp-action="Listado" asp-route-id="IdBanda">@album.Nombre</a></li>
    }
</ul>
<style>
    body {
        background-color: #8ae4c9;
    }

    </div>
</style>