@using Espuchifai.Core;
@model IEnumerable<Cancion>
@{
    ViewData["Title"] = "Cancion";
}
<h1> Canciones Disponibles </h1><br>
<ul>
    @foreach (var cancion in Model)
    {
        <li><a asp-controller="Cancion" asp-action="Listado" asp-route-id="IdCancion">@cancion.Nombre</a></li>
    }
</ul>
<style>
    body {
        background-color: #8ae4c9;
    }
</style>
