@page
@model Espuchifai.Mvc.Views.Canciones
@{
    ViewData["Title"] = "Canciones";
}

<h1>@ViewData["Title"]</h1>

<div>
    <html>
        <meta charset="UTF-8">
        <title> Canciones Espuchifai </title>
        <meta name="keywords" content="Canciones, Artistas, Albumes, Espuchifai">
    </head>
<body>
    <h1> Canciones Disponibles </h1><br>
    <ul>
        <li> Un verano sin ti </li>
        <li>X100 PRE </li>
        <li>El ultimo tour del mundo </li>
<style>
body {
background-color: #8ae4c9;
}
</div>