@page
@model Espuchifai.Mvc.Views.Canciones
@{
    ViewData["Title"] = "Canciones";
}
<h1> Canciones Disponibles </h1><br>
<ul>
    @foreach (var Cancion in Model)
    {
        <li><a asp-controller="Canciones" asp-action="Detalle" asp-route-id="IdCancion">Cancion.Nombre</a></li>
    }
</ul>
<style>
body {
background-color: #8ae4c9;
}
</div>