@using Espuchifai.Core;
@model IEnumerable<Banda>
@{
    ViewData["Title"] = "Bandas";
}
<h1> Canciones Disponibles </h1><br>
<ul>
    @foreach (var banda in Model)
    {
        <li><a asp-controller="Banda" asp-action="Listado" asp-route-id="IdBanda">@banda.Nombre</a></li>
    }
</ul>
<style>
    body {
        background-color: #8ae4c9;
    }
</style>
