@using Espuchifai.Core;
@model IEnumerable<Banda>
@{
    ViewData["Title"] = "Bandas";
}
<ul>
    @foreach (var banda in Model)
    {
        <li>@banda.Nombre</li>
        <li>@banda.Fundacion</li>
        <li>@banda.IdBanda</li>
    }
