<html>
        <meta charset="UTF-8">
        <title>Albumes Espuchifai</title>
        <meta name="keywords" content="Canciones, Artistas, Albumes, Espuchifai">
    </head>
<body>
    <h1> Albumes Disponibles </h1><br>
    <ul>
        <li> Un verano sin ti</li>
        <li>X100 PRE</li>
        <li>El ultimo tour del mundo</li>
<style>
body {
background-color: #8ae4c9;
}
