@{
    ViewData["Title"] = "Espuchifai.com";
}

<div class="text-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
    <a class="navbar-brand" href="#">Albumes</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Cancion</a>
        <a class="nav-link" href="#">Cantante</a>
        <a class="nav-link" href="#">Inicio de sesion</a>
    </div>
    </div>
</div>
</nav>
    <h1 class="display-4">Bienvenidos a Espuchifai</h1>
</div>
<meta charset="utf-8">
<meta name="keywords" content="Espuchifai, Musica, entretenimiento, Distraccion, Artistas, Bandas,">:
<style>
body {
background-color: #8ae4c9;
}


