@{
    ViewData["Title"] = "Espuchifai.com";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<meta charset="utf-8">
<meta name="keywords" content="Espuchifai, Musica, entretenimiento, Distraccion, Artistas, Bandas,">:
    <body>
<h4><center> Bienvenido<h4> <h4> Estas Listo? </h4> 
<h2><center> Iniciar Sesion en Espuchifai <h2>
    <p>Correo eletronico<p>
        <p> Contraseña <p>
</body>
