@{
    ViewData["Title"] = "Espuchifai.com";
}
<div class="text-center">
</div>
</nav>
<h1 class="display-4">Bienvenidos a Espuchifai</h1>
</div>
<meta charset="utf-8">
<meta name="keywords" content="Espuchifai, Musica, entretenimiento, Distraccion, Artistas, Bandas,">:
<style>
    body {
        background-color: #8ae4c9;
    }
